body{
    
    font-family: 'Times New Roman', Times, serif;
}
.card{
    margin: 100px auto;
    padding: 30px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    background-image:linear-gradient( #ddebf8,blue);
    border-radius: 5px;

}
img{
    width: 250px;
    height: 200px;
    border-color: 4px solid rgb(69, 69, 69);
    border-radius: 5px;
}
.txtt{
    text-align: center;
    font-size: 24px;
    margin-left: 7px;
}
.border{
    border: 1px solid black;
    border-bottom: 5px solid rgb(233, 95, 233);

}

